      body {
        background-color: #cae4db;
      }
      hr {
          border-style: none;
          border-top-style: dotted;
          border-color: red;
          border-width: 35px;
          width: 75%;
        }
      img {
        height: 500px;
        }
      h1{
        color: #66BFBF;
      }
      h3{
        color: yellow;
      }
